*.out
*.a
*.OUT
*.lib
*.blend*
FASTSim/aerodynamics.*
FASTSim/sensors.*
FASTSim/controller.*
FASTSim/mathp.*
FASTSim/RCInput.*
FASTSim/joystick.*
FASTSim/Rotation3.*
FASTSim/RK4.*
FASTSim/opengl.*
FASTSim/timer.*
FASTSim/nrutils.h
FASTSim/Datalogger.*
FASTSim/MATLAB.*
FASTSim/logs/*.txt
Orbit/Model_Resources/EGM_EMM
Test_Scripts/Send_and_Receive_AB_Processing_RPI/Serial.*
Test_Scripts/Send_and_Receive_Floats_Processing_RPI/Serial.*
Test_Scripts/HIL_Send_Single_Number/Serial.*
Test_Scripts/Send3_Receive3/Serial.*
Test_Scripts/Send6_Receive6/Serial.*
Test_Scripts/Telemetry_Test_Hardware_Side/Serial.*
Test_Scripts/Serial_C++_Test/Serial.*
*.o
*.pdf
*.exe
*.dll
FASTSim/Extra_Models/
